.certificate_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.certificate_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.certificate_item:hover{
    border-color: var(--color-bg-variant);
    background: transparent;
}

.certificate_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.certificate_item h3{
    margin: 1.2rem 0 2rem;
}

.certificate_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ================= media queries=================*/
@media screen and (max-width: 1024px) {
    .certificate_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/* ================= media queries=================*/
@media screen and (max-width: 600px) {
    .certificate_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}